.tic-tac-toe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(0deg, rgb(117, 29, 185) 0%, 
    rgba(121, 34, 174, 0.258) 27%,
    rgba(98,78,184,0.033911098619135105) 65%,
    rgba(38,190,230,0) 100%);
    border-radius: 15px;
    padding: 20px;
    max-width: 360px;
}

/* Game Status Styling */
.status {
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: 400;
    color: color;
    text-align: center;
}

/* Game Board Styling */
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px; 
    width: 100%;
    justify-content: center;
}

/* Individual Squares */
.square {
    width: 80px;
    height: 80px;
    font-size: 36px;
    font-weight: bold;
    background: linear-gradient(145deg, #51515126, #1f1f1f4c);
     box-shadow: 0 4px 10px rgba(81, 81, 81, 0.522);
    border: 0.5px solid #a8a8a8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 5px; 
}

/* Styling for "X" and "O" */
.square.x {
    color: #e6f9af; /* Soft yellow-green for "X" */
    text-shadow: 0 2px 4px rgba(230, 249, 175, 0.6);
}

.square.o {
    color: #c9c9ee; /* Light blue-purple for "O" */
    text-shadow: 0 2px 4px rgba(201, 201, 238, 0.6);
}

/* Hover Effect for Squares */
.square:hover {
    background: linear-gradient(145deg, #292929, #1f1f1f);
    transform: scale(1.05);
}

/* Reset Button */
.reset-button {
    margin-top: 25px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #ff69b4, #ff1493);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(255, 105, 180, 0.4);
}

.reset-button:hover {
    background: linear-gradient(135deg, #ff1493, #e60073);
    transform: translateY(-3px);
    box-shadow: 0 8px 14px rgba(255, 20, 147, 0.6);
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .tic-tac-toe{
        width: 300px;
    }

}

@media screen and (max-width: 768px) {
    .square{
        width: 60px;
        height: 60px;
    }
}