
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif;
}

html, body{
    width: 100%;
    height: 100%;
}
:root{
    --p:#b4b4b4;
}

/* Hero Section */
.hero-section{
    position: relative; 
    padding: 80px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self:center;
    flex-direction: column;
    
    
}

.hero-container{
    position: relative; /* Keeps the content above the gradient */
    z-index: 1;
    height: 50vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.hero-tagline{
    font-weight: 300;
    border: grey 1px solid;
    padding: 4px 20px;
    border-radius: 50px;
    margin-bottom: 50px;
}

.hero-title{
    width: 65rem;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

.hero-subtitle{
    width: 70rem;
    font-size: 18px;
    font-style: italic;
    color: gray;
    font-family: "Raleway", serif;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

/* Get Started Button */
.start-button {
    font-size: 16px;
    padding: 12px 25px;
    border-radius: 50px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: linear-gradient(140deg, #420465, #a25dca, #d979ff, #27013e);
    background-size: 200% 200%;
    box-shadow: 0px 1.5px 4px 6px rgb(129, 13, 191), 0px 0px 40px rgba(159, 11, 83, 0.4);
    transition: all 0.3s ease;
    animation: gradientMove 4s infinite alternate;
}

.start-button:hover {
    box-shadow: 0px 6px 30px rgba(166, 0, 255, 0.7), 0px 0px 50px rgba(255, 0, 122, 0.6);
    transform: scale(1.05);
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 120%;
    border-radius: 100%;
    background: linear-gradient(346deg, rgba(99, 0, 174, 0.5) 0%, rgba(211, 15, 159, 0.56) 62%, rgba(231, 255, 154, 0.545) 100%);
    filter: blur(80px);
    z-index: -1;
    pointer-events: none; 
    animation: move-gradient 15s infinite linear; 
}

/* Animation Keyframes */
@keyframes move-gradient {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
        transform: translate(-40%, -100%) rotate(45deg);
    }
    50% {
        transform: translate(30%, -30%) rotate(90deg);
    }
    75% {
        transform: translate(60%, 40%) rotate(135deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Features */
.features{
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

/* Feature Cards */
.f-1, .f-2, .f-3 {
    padding: 20px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    width: 350px;
    margin: 0 20px;
    line-height: 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.f-1:hover, .f-2:hover, .f-3:hover {
    border: none;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    box-shadow: 0px 4px 30px rgba(166, 0, 255, 0.7), 0px 0px 50px rgba(255, 0, 122, 0.6);
    transform: scale(1.05);
}


.f-1 p,  .f-2 p, .f-3 p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: var(--p);
}

/* Video Section */
.video
{  
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-container{
    padding: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-container h1{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

.video-container video {
    border-radius: 50px;
    width: 60rem;
    object-fit: cover;
    box-shadow: 0 8px 15px rgba(126, 126, 126, 0.2); /* Adds shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover */
}

.video-container video:hover {
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0 12px 20px rgba(121, 121, 121, 0.378); /* More pronounced shadow on hover */
}

/* About Section */
.about-section {
    padding: 50px 80px;
    width: 100%;
    height: auto;    
}

.about-container {
    padding: 20px;
    height: auto;
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.about-container h1 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

.about-container .about{
    text-align: left;
    width: 700px;
}

.about p{
    color: var(--p);
    line-height: 1.5rem;
    margin-bottom: 10px;
    
}
/* Phone Section */
.phone{
    padding: 50px;
}

.phone-title{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: right;
}

.phone-container{
    padding: 0 50px;
    height: auto;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.phone-container p{
    color:var(--p);
    text-align: right;
    line-height: 1.5rem;
}
.phone-image{
    width: 350px;
}
/* Games Section */

.Games{
    padding: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.games-title{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}

.games-subtitle{
    color: var(--p);
    margin-bottom: 30px;
    line-height: 1.5rem;
}

.games-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* Games Cards */
.g1,.g2,.g3{
    margin: 20px;
    padding: 20px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    width: 350px;
    line-height: 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.g1:hover,.g2:hover,.g3:hover{
    border: none;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    box-shadow: 0px 4px 30px rgba(166, 0, 255, 0.7), 0px 0px 50px rgba(255, 0, 122, 0.6);
}

.g1 h3,.g2 h3,.g3 h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.g1 p,.g2 p,.g3 p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: var(--p);
}

/* Contact Section */
#contact {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    border: solid 1px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #contact h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 400;
  }
  
  #contact p {
    font-size: 16px;
    margin: 5px 0 20px;
  }
  
  #contact a {
    color: var(--dark-sky);
    text-decoration: none;
  }
  
  #contact a:hover {
    text-decoration: underline;
  }
  
  /* Contact Details */
  #contact div {
    margin-bottom: 20px;
  }
  
  #contact div p {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
  }
  
  #contact div i {
    color: var(--dark-sky);
    font-size: 20px;
  }
  
  /* Form Styling */
  #contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  #contactForm input,
  #contactForm textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  #contactForm input:focus,
  #contactForm textarea:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  #contactForm button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: var(--purple);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #contactForm button:hover {
    background-color: #0056b3;
  }
  

/* Footer Styling */
.footer {
    background-color: black;
    color: #fff;
    padding: 50px 10px;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--purple);
  }
  

  
  .footer-copyright p {
    font-size: 16px;
    margin-top: 10px;
    color: #ffffffb3;
  }
  
  /* Media Queries */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Hero Section */
    .hero-container{
        width: 100%;
    }
     .hero-title {
        width: 45rem;
        font-size: 40px;
    }
    .hero-subtitle{
        width: 45rem;
        font-size: 16px;
    }
    /* Features Section */
    .features{
        width: 60rem;
        padding: 20px;
        flex-wrap: wrap;
    }
    .f-1, .f-2, .f-3 {

        width: 280px;
        padding: 20px;
    }
    
    .f-1 h3, .f-2 h3, .f-3 h3{
        font-size: 16px;
    }

    .f-1 p, .f-2 p, .f-3 p {
        font-size: 13px;
    }
    /* Video Section */
    .video-title{
        font-size: 30px;
    }
    .video-subtitle{
        font-size: 14px;
    }
    .video-container video {    
        width: 40rem;
    }
    /*  About Section */
    .about-container{
        flex-wrap: wrap;
        gap: 10px;
       
    }
    .about-container h1{
        font-size: 30px;
        text-align: center;
    }
    .about-container .about p{
        font-size: 14px;
        text-align: center ;
    }
    /* Phone Section */
    .phone-title{
        font-size: 30px;
        text-align: center;
    }
    .phone-container{
        gap: 10px;
        flex-wrap: wrap;
    }
    .phone-container p{
        font-size: 14px;
        text-align: center;
    }
    .phone-image{
        width: 250px;
    }
    /* Games Section */
    .games-title{
        font-size: 30px;
    }
    .games-subtitle{
        font-size: 14px;
    }
    .g1,.g2,.g3{
        width: 250px;
    }
    .g1 h3,.g2 h3,.g3 h3{
        font-size: 16px;
    }
    .g1 p,.g2 p,.g3 p{
        font-size: 12px;
    }
    
  }

  @media screen and (max-width: 768px) {
    /* Hero Section */
    .hero-section{
        height: auto;
        padding-bottom: 20px;
    }
    .hero-container{
        width: 100%;
    }

    .hero-title {
        width: 22rem;
        font-size: 28px;
    }

    .hero-subtitle{
        width: 18rem;
        font-size: 14px;
    }
    /* Features Section */

    .features{
        height:auto;
        width: auto;
        padding: 20px;
        flex-direction: column;
    }
    .f-1, .f-2, .f-3 {
        height: auto;
        width: 250px;
        padding: 10px;
        margin: 5px;
    }

    .f-1 h3, .f-2 h3, .f-3 h3{
        font-size: 12px;
        font-weight: 400;
    }

    .f-1 p, .f-2 p, .f-3 p {
        font-size: 12px;
    }
    /* Video Section */
   .video-container h1{
    font-size: 25px;
   }
  
    .video-container video {    
        width: 20rem;
    }
    /*  About Section */

    .about-section{
        padding: 0;
    }
    .about-container{
        /* width: 400px; */
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
    }
    .about-container .about{
        width: 100%;
        text-align: center;
    }
    .about-container h1{
        font-size: 25px;
    }
    .about-container .about p{
        font-size: 12px;
        width: 100%;
        text-align: center;
    }
    /* Phone Section */

    .phone-title{
        font-size: 25px;
        text-align: center;
    }
    .phone-container{
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .phone-container p{
        font-size: 12px;
        text-align: center;
        width: 100%;
    }
    .phone-image{
        width: 250px;
    }
    /* Games Section */
    .games-title{
        font-size: 25px;
    }
    .games-subtitle{
        font-size: 12px;
    }
    .g1,.g2,.g3{
        width: 250px;
    }
    .g1 h3,.g2 h3,.g3 h3{
        font-size: 16px;
    }
    .g1 p,.g2 p,.g3 p{
        font-size: 12px;
    }
    /* Contact Section */
    #contact {
        width: 80%;
        padding: 15px;
      }
    
      #contact h2 {
        font-size: 24px;
      }
    
      #contact p {
        font-size: 14px;
      }
    
      #contact div p {
        font-size: 14px;
      }
    
      #contactForm input,
      #contactForm textarea {
        font-size: 14px;
      }
    
      #contactForm button {
        font-size: 14px;
      }
    
}