@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Open Sans", serif;;
}

:root{
    --purple:#560bad;
    --light-blue:#4361ee;
    --blue:#3a0ca3;
    --dark-sky:#4895ef;
}

body{
    background-color: #242424;
}

.logo{
    font-family: 'Parkinsans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #b0d700;
    cursor: pointer;
}