@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Open Sans", serif;;
}

:root{
    --purple:#5e1fb5;
    --light-blue:#4361ee;
    --blue:#3a0ca3;
    --dark-sky:#00d4ff;
    --grey: #433f4b;
    --dark-theme:#1f1521;
}

body{
    background-color:var(--dark-theme);
}
